body {
    padding: 0;
    margin: 0;
    font-family: monospace;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
  }
  
  
  
  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
    
    background: #333;
  }
  
  h2 {
    font-size: 24px;
  }

.contain{
    width: 1024px;
    margin: 0 auto;

}


#aline
#bio
#borders{
    float: left;
}

#bio{
   width: 70%;
}

#aline{
    float: right;
    width: 30%;
}

#borders{
width: 200px;
height: 200px;
margin-right: 20px;
}

#gallery{
    float: left;
}